.qr {
    text-align: center;
    width: 100vw;
    margin-left: -25vw;
}

.controls {
    align-items: start;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.control :global(legend) {
    margin-bottom: 0;
    padding: 0;
    line-height: 1.5;
}

.colorInput {
    box-sizing: border-box;
    height: 40px;
    width: 64px;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}